Goe-Install_Main/obj/Goe-Install.csproj.nuget.dgspec.json
Goe-Install_Main/obj/project.assets.json
Goe-Install_Main/obj/project.nuget.cache
Goe-Install_Main/obj/Debug/net9.0/Goe-Install.AssemblyInfo.cs
Goe-Install_Main/obj/Debug/net9.0/Goe-Install.AssemblyInfoInputs.cache
Goe-Install_Main/obj/Debug/net9.0/Goe-Install.assets.cache
Goe-Install_Main/obj/Debug/net9.0/Goe-Install.GeneratedMSBuildEditorConfig.editorconfig
